.list-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.list-item {
  list-style: none;
  width: 25%;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.list-item-text {
  color: #333;
}
